@{
    Layout = "_Layout";
}

@using System.Security.Claims
<div class="img-container" text-align="center">
    <img src="/img/GeoSquirrelQuote2.png" alt="GeoSquirrelQuote2" width="200" height="200" text-align="center">
</div>

<div class="card" id="loginhelp">
    <div class= "card-body">
        <div class="img-container" text-align="center">
            @if (User.Identity.IsAuthenticated)
            {
                <p>Hello @User.Identity.Name, welcome back to GeoSquirrel! <br> We are squirrely grateful to have you back. </p>
                @using (Html.BeginForm("LogOff", "Account"))
                {
                    <input type="submit" class="btn btn-dark" value="Log out" id="logout"/>
                }
            }
            else
            {
                <p>@Html.ActionLink("Register", "Register")</p>
                <p>@Html.ActionLink("Log in", "Login")</p>
            }
        </div>
    </div>
</div>