@{
  Layout = "_Layout";
}

@using GeoSquirrelClient.ViewModels

@model LoginViewModel
<div class="img-container" text-align="center">
<img src="/img/GeoSquirrelQuote.png" alt="GeoSquirrelQuote" width="200" height="200" text-align="center">
</div>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
<div class="testbox">
  <h1>Login</h1>
@using (Html.BeginForm())
{
  <form action="/">
  <hr>
  <label id="icon" for="name"><i class="icon-envelope"></i></label>
  <input id="Email" name="Email" type="text" value="" placeholder="username"/>
  <label id="icon" for="name"><i class="icon-shield"></i></label>
  <input id="Password" name="Password" type="password" value="" placeholder="password" />
  <input type="submit" value="Login" class="btn btn-dark"/>
  <br>
  <br>
  @using (Html.BeginForm("LogOff", "Account"))
  {
  <input type="submit" class="btn btn-dark" value="Log out" id="logout"/>
  }
  </form>
}

</div>
