@{
  Layout = "_Layout";
}

@model GeoSquirrelClient.Models.Game

<div class="card">
  <div class= "card-body">
    <h2 class= "card-title">Game Creator: </h2>
      <div class= "card-text">
      @using (Html.BeginForm())
      {
        @Html.LabelFor(model => model.Name)
        <input id="Name" name="Name" type="text">
        <br>
        <br>
        <input type="submit" value="Create a Game" class="btn btn-dark" http-equiv="refresh">
        <meta http-equiv="refresh">
      }
      <br>
      </div>
  </div>
</div>
