@{
    Layout = "_Layout";
}
@model Game

<h2>Game Details</h2>

<h1>@Model.Name Details</h1>

<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>@Model.GameId</td>
                    <td>@Model.Name</td>
                </tr>
        </tbody>
    </table>
