@{
  Layout = "_Layout";
}

@* <h1>Find Games/Index Page</h1>

@foreach(Game game in Model)
{
  @Html.ActionLink($"{game.Name}", "Details", null, new { id = game.GameId});
} *@






@{
    ViewData["Title"] = "Home Page";
}

<h1>All Games:</h1>
<hr style="height:2px;border-width:0;color:gray;background-color:gray"/ >
<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Game game in Model)
            {
                <tr>
                    <td>@game.GameId</td>
                    <td>@game.Name</td>
                    <td><a class="btn btn-dark" href="/Games/Details/@(game.GameId)"><p>View Details</p></a></td>
                </tr>
            }
        </tbody>
            <a  class="btn btn-light" asp-area="" asp-controller="Games" asp-action="Create">Create A Game</a>
    </table>
